version: "3"
services:
  api:
    build: ./api
    depends_on:
      - redis
    environment:
      - MONGO_HOST=${MONGO_HOST}
      - MONGO_PORT=${MONGO_PORT}
      - MONGO_USER=${MONGO_USER}
      - MONGO_DB=${MONGO_DB}
      - MONGO_PW=${MONGO_PW}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_AUTH=${REDIS_AUTH}
      - REDIS_PORT=${REDIS_PORT}
      - SPOTIFY_CLIENT_ID=${SPOTIFY_CLIENT_ID}
      - SPOTIFY_CLIENT_SECRET=${SPOTIFY_CLIENT_SECRET}
    ports:
      - 1000:2000
    restart: always
    volumes:
      - ./api:/usr/src/api/

  backend:
    build: ./backend
    depends_on:
      - redis
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_AUTH=${REDIS_AUTH}
      - REDIS_PORT=${REDIS_PORT}
      - SONGKICK_API_KEY=${SONGKICK_API_KEY}
    ports:
      - 2000:2000
    restart: always
    volumes:
      - ./backend:/usr/src/backend/

  frontend:
    build: ./frontend
    depends_on:
      - backend
    environment:
      - GOOGLE_MAPS_KEY=${GOOGLE_MAPS_KEY}
      - SPOTIFY_CLIENT_ID=${SPOTIFY_CLIENT_ID}
    ports:
      - 3000:3000
    restart: always
    volumes:
      - ./frontend:/usr/src/frontend/

  redis:
    image: redis:latest
    ports:
      - 6379:6379
